<div class="row">
    <form class="col s12" action="empresas.php" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="Juan" id="nombre" name="nombre" type="text" class="validate" required>
          <label for="first_name">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="90" id="promedio" name="promedio" type="number" class="validate" required max="100" min="0">
          <label for="promedio">Promedio</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
         <input placeholder="5" id="semestre" name="semestre" type="number" class="validate" required max="10" min="1">
          <label for="semestre">Semestre que estas cursando</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn" type="submit" value="Entregar!">
          </div>
        </div>
      </div>
    </form>
    <div class="divider"></div>
    <div class="section">
      <h5>¿Por qué es una buena práctica separar el controlador de la vista?</h5>
      <p>Por que es un patrón de diseño comprovado, que permite un desarrollo rápido de la aplicación web. Además de permitir un trabajo en conjunto más rápido y eficiente [1].</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h5>
      <p>$Globals: Contiene una referencia a todas las variables de ambito global definidas dentro del script.<br>
      $_SERVER: Tiene cabeceras, rutas y ubicaciones del script. <br>
      $_FILES: Un array de elementos subidos al script en curso a través del método POST<br>
      $_REQUEST: Array que por defecto contiene el contenido de $_GET, $_POST y $_COOKIE.<br>
      $_SESSION: Cuenta con las variables de sesión que están disponibles en el script actual. <br>
      $_ENV y $_COOKIE [2].
      </p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>¿Qué es XSS y cómo se puede prevenir?</h5>
      <p>Es una vulnerabilidad en las paginas web, la cual permite a los atacantes introducir codigos de JS o algún lenguaje similar. Se puede evitar utilizando tres medidas básicas de seguridad: data validation, data sanitization y output escaping [3].</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Referencias</h5>
      <p>[1] https://book.cakephp.org/1.3/es/The-Manual/Beginning-With-CakePHP/Understanding-Model-View-Controller.html <br>
      [2] https://www.php.net/manual/es/reserved.variables.environment.php<br>
      [3] https://diego.com.es/ataques-xss-cross-site-scripting-en-php</p>
    </div>
  </div>