<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Hola <?=$nombre?></span>
          <p><?=$texto?></p>
        </div>
        <div class="card-action">
          <a href="<?=$link?>">Link</a>
        </div>
      </div>
    </div>
  </div>