<?=crear_select("id", "nombre", "estado");?>
    <?=crear_select("id", "nombre", "lugar");?>
    <form>
      <input type="text" id="userInput">
      <div id="ajaxResponse"></div>
    </form>
        <button id="buscar" class="waves-effect waves-light btn">Buscar</button>
        <br>
        <br>