<div class="divider"></div>
  <div class="section">
    <h5>1.- ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h5>
    <p>Respuesta= Proporciona un acercamiento de comportamiento de las páginas web al comportamiento de páginas de escritorio, siendo altamente utilizado en grandes proyectos[3]. </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>2.- ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h5>
    <p>Respuesta= Se puede implementar 'Explicit Token Validation', 'Referer Header Checked Validation', 'JSON prefixing', 'HTTP Authentication' [2].  </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>3.- ¿Qué es JSON?</h5>
    <p>Respuesta= Sus siglas significan  'JavaScript Object Notation', y es un formato ligero de intercambio de datos, de fácil lectura para el desarrollador y de fácil interpretación para las máquinas. Es independiente de un lenguaje de programación. Sus propiedades lo hacen ideal para trabajar con AJAX, utilizado frecuentemente en lugar de XML. JSON define 6 tipos de valores: nulo, números, cadenas, booleanos, matrices y objetos [1].</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Referencias</h5>
    <p>[1] <a href="https://www.nextu.com/blog/que-es-json/">https://www.nextu.com/blog/que-es-json/</a><br>
      [2] <a href="https://www.sitepen.com/blog/security-in-ajax/">https://www.sitepen.com/blog/security-in-ajax/</a><br>
      [3] <a href="https://www.computerworld.com/article/2558285/ajax.html">https://www.computerworld.com/article/2558285/ajax.html</a></p>
  </div>