#NB{
	background-color:#00acc1; 
}

#RegistrarCaso{
	background-color:#00acc1; 
}

#VerCaso{
	background-color:#00acc1; 
}

#regresar{
	background-color:#00acc1; 
}


#Casos{
	display: none;
}

#Mensaje{
	display: none;
}

#boton{
	display: none;
}