<div class="container" id="Select">
      <div class="row">
        <h3 align="center">Ingresa un nuevo caso</h3>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select("Id", "Nombre_lugar", "lugar_incidente");?>
          <label>Selecciona el lugar donde ocurrió el incidente</label>
      </div>
      <br>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select("Id", "NombreInc", "tipo_incidente");?>
          <label>Selecciona el tipo de incidente</label>
      </div>
      <br>
      <br>
      <div class="row center">
              <button id="RegistrarCaso" class="btn waves-effect waves-light btn-large ">Registrar Caso
                <i class="material-icons right">save</i>
              </button>
      </div>
      <br>
      <br>
      <div class="row center">
              <button id="VerCaso" class="btn waves-effect waves-light btn-large ">Ver Casos
                <i class="material-icons right">search</i>
              </button>
      </div>
</div>


<div class="container" >
	<br>
	<br>
      <div class="row" id="Mensaje">
        <h3 align="center"></h3>
      </div>
</div>

<div class="container" id="boton">
	<br>
	<br>
	<div class="row center">
    	<button id="regresar" class="btn waves-effect waves-light btn-large ">Regresar
			<i class="material-icons right">keyboard_return</i>
    	</button>
	</div>
</div>


<div class="container" id="Casos">
	<br>
	<br>
      <div class="row">
        <h3 align="center">Todos los Casos</h3>
      </div>
      <div class="input-field col s12" id="Consulta">
      	
      </div>
</div>