      <div class="container" id="g">
      <div class="row">
        <div class="col s12"><h1>Datos</h1></div>
        <div class="col s6"><p>Iván Alejandro Díaz Peralta<br>A01700486<br>A01700486@itesm.mx</p></div>
      </div>

      <div class="divider"></div>
        <div class="section" id="a">
          <h5>Problema 1</h5>
          <p>El promedio de los numeros del primer arreglo es:  
            <?= $promedio1 ?>
            <br>
            El promedio de los numeros del segundo arreglo es: 
            <?= $promedio2 ?>
          </p>
        </div>
      <div class="divider"></div>
        <div class="section" id="b">
          <h5>Problema 2</h5>
          <p>La mediana de los numeros del primer arreglo es: 
            <?= $mediana1 ?>
            <br>
            La mediana de los numeros del segundo arreglo es: 
            <?= $mediana2 ?>
          </p>
        </div>
        <div class="divider"></div>
        <div class="section" id="c">
          <h5>Problema 3</h5>
          <ol>
            <li><strong>El array original es: </strong>
            <?= $arrayNormal[0] ?>
            <?= $arrayNormal[1] ?>
            <?= $arrayNormal[2] ?>
            <?= $arrayNormal[3] ?>
            <?= $arrayNormal[4] ?>
            <?= $arrayNormal[5] ?>
            </li>
            <li><strong>El promedio del array es: </strong></li>
            <li><strong>La mediana del array es: </strong></li>
            <li><strong>El array ordenado de mayor a menor es: </strong>
            <?= $arrayInverso[0] ?>
            <?= $arrayInverso[1] ?>
            <?= $arrayInverso[2] ?>
            <?= $arrayInverso[3] ?>
            <?= $arrayInverso[4] ?>
            <?= $arrayInverso[5] ?>
            </li>
            <li><strong>El array ordenado de menor a mayor es: </strong>
            <?= $arrayOrdenado[0] ?>
            <?= $arrayOrdenado[1] ?>
            <?= $arrayOrdenado[2] ?>
            <?= $arrayOrdenado[3] ?>
            <?= $arrayOrdenado[4] ?>
            <?= $arrayOrdenado[5] ?>
            </li>
          </ol>
        </div>
        <div class="divider"></div>
        <div class="section" id="d">
          <h5>Preguntas</h5>
          <ol>
            <li><strong>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención</strong></li>
            <dd>La función muestra la infromación sobre la configuración de php. Puede imprimirse tanto toda la información, como solo una parte específica que sea del interés de usuario, como lo puede ser información de las variables de entorno. Es una función bastante utilizada, pues cada sistema de php se instala de manera diferente, de esa manera puedes saber la configuración del sistema donde esta corriendo y evitar errores.</dd>
            <li><strong>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</strong></li>
            <dd></dd>
            <li><strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong></li>
            <dd>Como PHP es un lenguaje que no puede ser procesado por un navegador web, este socilicita la página al servidor, el cual procesa el código y lo devuelve en un formato que entiende el navegador. </dd>
          </ol>
        </div>
