#a{
  background-color: rgb(6, 204, 204);
}

#b{
  background-color: coral;
}

#c{
  background-color: rgb(6, 204, 204);
}

#d{
  background-color: coral;
}

#f{
  background-color: beige
}

#g{
  background-color: rgba(228, 96, 91, 0.918);
}
