<form method="POST">
    <?=crear_select("id", "nombre", "estado");?>
        <?=crear_select("id", "nombre", "lugar");?>
        	<?=crear_select("id", "created_at", "caso");?>
            <input class="waves-effect waves-light btn" type="submit" value="Buscar">
</form>
<br>
<a class="btn btn-large waves-effect waves-light red" href="controlador_borrar.php"><i class="material-icons">delete</i></a>
<br>
<br>
<a class="btn btn-large waves-effect waves-light blue" href="controlador_editar.php"><i class="material-icons">edit</i></a>
<br>
<br>