<div class="divider"></div>
  <div class="section">
    <h5>1.- ¿Qué alternativas a jQuery existen?</h5>
    <p>Respuesta= Para algunas funciones de jQuery, existen algunas otras alternativas para solucionar de manera similar el problema, por ejemplo:<br>
         Para seleccionar algo, en lugar de usar jQuery, se puede utilizar el API HTML DOM y usar el document.querySelector().<br>
         Los request Ajax HTTP pueden ser ejecutados con el API de JS “fetch”.<br>
         Las animaciones, en vez de utilizar el método “.animate”, pueden ser ejecutadas mediante las animaciones de CSS [1].<br>
    </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>2.- ¿Qué es una promesa en js?</h5>
    <p>Respuesta= Es el objeto que representa que una operación asíncrona ha terminado o ha fracasado [2]. Puede encontrarse en estado pendiente, cumplida o rechazada [3].  </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>3.- ¿Cómo funcionan async y await?</h5>
    <p>Respuesta= La palabra async antes de una función significa que dicha función siempre regresa una promesa. La función await obliga a JS a esperar a que la promesa se solucione y devuelva su resultado[4]. </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Referencias</h5>
    <p>[1] <a href="https://blog.logrocket.com/using-jquery-in-2019/">https://blog.logrocket.com/using-jquery-in-2019/</a><br>
      [2] <a href="https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Usar_promesas">https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Usar_promesas</a><br>
      [3] <a href="https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Promise">https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Promise</a><br>
      [4] <a href="https://javascript.info/async-await">https://javascript.info/async-await</a>
    </p>
  </div>