<div class="row">
  <form class="col s12" action="datos.php" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix ">account_circle</i>
        <input placeholder="Juan" id="nombre" name="nombre" type="text" class="validate" required>
        <label for="first_name">Nombre(s)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix ">account_circle</i>
        <input placeholder="Díaz Peralta" id="apellidos" name="apellidos" type="text" class="validate" required>
        <label for="first_name">Apellidos</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix ">event</i>
          <input placeholder="20" id="edad" name="edad" type="number" class="validate" required max="100" min="0">
          <label for="promedio">Edad</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix ">accessibility</i>
          <input placeholder="Me gusta Shrek" id="descripcion" name="descripcion" type="text" class="validate" required max="200" min="0">
          <label for="promedio">Descripción</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix ">face</i>
        <select name="genero">
          <option value="" disabled selected>Genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
        <label>Materialize Select</label>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn blue darken-4" type="submit" value="Entregar!">
          </div>
        </div>
      </div>
  </form>
</div>

<div class="divider"></div>
  <div class="section">
    <h5>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h5>
    <p>Porque el unset solo borra las variables de sesion y destroy borra toda la información asociada con la sesión, icluyendo esta misma [1].</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>¿Cuál es la diferencia entre una variable de sesión y una cookie?</h5>
    <p>La información contenida en una variable de sesión se elimina cuando la sesión termina, mientras que las cookies son información almacenada utilizada cada vez que inicias sesión [2].</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h5>
    <p>Agrgar un ID a la foto o una timestamp [3].</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>¿Qué es CSRF y cómo puede prevenirse?</h5>
    <p>Es un ataque al navegador en el que se fuerza, por medio de la validación de un servicio, a enviar una petición a una aplicación web vulnerable. Una forma practica de contrarrestarlos es usar complementos que bloqueen la ejecución de scripts [4].</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Referencias</h5>
    <p>[1] https://www.geeksforgeeks.org/session_unset-vs-session_destroy-in-php/<br>
    [2] https://www.quora.com/What-is-the-difference-between-session-variable-and-cookie<br>
    [3] Lalo en clase.<br>
    [4] https://www.welivesecurity.com/la-es/2015/04/21/vulnerabilidad-cross-site-request-forgery-csrf/
    </p>
  </div>
  