<div class="row">
  <div class="center-align" id="fotoPerfil">
    <form class="col s12" action="perfil.php" method="post" enctype="multipart/form-data" id="fotoPerfil">
    <h5>Aquí sube una imagen de perfil</h5>
      <div class="row">
        <div class="input-field col s12">
          <input type="file" name="fileToUpload" id="fileToUpload">
           <br>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="btn blue darken-4" type="submit" value="Upload  Image" name="submit">
        </div>
      </div>
    </form>
  </div>
</div>
