<div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="uploads/<?=$_SESSION['nombre_foto']?>" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Nombre: </strong><p><?=$_SESSION["nombre"]?></p><br>
                  <strong>Apellidos: </strong><p><?=$_SESSION["apellidos"]?></p><br>
                  <strong>Edad: </strong><p><?=$_SESSION["edad"]?></p><br>
                  <strong>Genero: </strong><p><?=$_SESSION["genero"]?></p><br>
                  <strong>Descripción: </strong><p><?=$_SESSION["descripcion"]?></p><br>
                </span>
              </div>
            </div>
          </div>
        </div>
</div>
 